body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container-row {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.navbar-custom {
  height: 80px;
  background-color: white;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}
@media screen and (max-width: 550px) {
  .navbar-custom {
    margin-left: 10px;
  }
}
.navbar-custom .navbar-brand img {
  width: auto;
  height: 25px;
}
.navbar-custom .nav-item {
  font-size: 18px;
  font-weight: 600;
  color: #009F80;
  margin-left: 25px;
  margin-right: 25px;
}
.navbar-custom .nav-item .nav-link {
  color: #009F80;
}
@media screen and (max-width: 991px) {
  .navbar-custom .nav-item {
    margin-left: 0;
    margin-right: 0;
  }
}
.navbar-custom .menu-icon {
  width: 30px;
  height: auto;
  margin-bottom: auto;
}
.navbar-custom .menu-icon img:focus {
  outline: none;
}
.navbar-custom .collapse {
  background-color: white;
  z-index: 1200;
  margin-top: 20px;
}
@media screen and (max-width: 991px) {
  .navbar-custom .collapse {
    width: 100%;
    height: 40vh;
    margin-left: -35px;
    margin-right: -20px;
  }
}
.navbar-custom .collapse .navbar-nav {
  z-index: 1200;
}
@media screen and (max-width: 991px) {
  .navbar-custom .collapse .navbar-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
.navbar-custom button:focus {
  outline: none;
}

.aside-profile-tab {
  width: 22%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #F1F3F5;
  transition: all 500ms linear;
  z-index: 888;
}
@media screen and (max-width: 1850px) {
  .aside-profile-tab {
    width: 30%;
  }
}
@media screen and (max-width: 1200px) {
  .aside-profile-tab {
    width: 35%;
  }
}
@media screen and (max-width: 991px) {
  .aside-profile-tab {
    width: 45%;
  }
}
@media screen and (max-width: 800px) {
  .aside-profile-tab {
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  .aside-profile-tab {
    width: 55%;
    position: absolute;
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .aside-profile-tab {
    width: 75%;
  }
}
@media screen and (max-width: 450px) {
  .aside-profile-tab {
    width: 93%;
  }
}
.aside-profile-tab .icon-close {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: -400px;
  position: absolute;
}
.aside-profile-tab .icon-close img {
  width: 20px;
  height: auto;
  display: none;
  cursor: pointer;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .aside-profile-tab .icon-close img {
    display: block;
  }
}
.aside-profile-tab .name {
  font-size: 30px;
  font-weight: 600;
  color: #009F80;
  font-family: Arial, Helvetica, sans-serif;
}
.aside-profile-tab .limit-verification-container {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.aside-profile-tab .limit-verification-container span {
  font-size: 17px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
.aside-profile-tab .limit-verification-container .limit-box {
  width: 100%;
  height: 55px;
  border-radius: 13px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside-profile-tab .limit-verification-container .limit-box .limit-text {
  font-size: 16px;
  font-weight: 600;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}
.aside-profile-tab .personal-info-box {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.aside-profile-tab .personal-info-box .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.aside-profile-tab .personal-info-box .title span {
  color: #9A9A9A;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 550px) {
  .aside-profile-tab .personal-info-box .title span {
    font-size: 15px;
  }
}
.aside-profile-tab .personal-info-box .title hr {
  width: 50%;
  color: #9A9A9A;
}
@media screen and (max-width: 550px) {
  .aside-profile-tab .personal-info-box .title hr {
    width: 40%;
  }
}
.aside-profile-tab .personal-info-box .info-1, .aside-profile-tab .personal-info-box .info-2, .aside-profile-tab .personal-info-box .info-3 {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.aside-profile-tab .personal-info-box .info-1 .dot, .aside-profile-tab .personal-info-box .info-2 .dot, .aside-profile-tab .personal-info-box .info-3 .dot {
  width: 6px;
  height: 6px;
  background-color: transparent;
  border-radius: 6px;
  border: 3px solid #009F80;
  margin-right: 10px;
}
.aside-profile-tab .personal-info-box .info-1 .info-text, .aside-profile-tab .personal-info-box .info-2 .info-text, .aside-profile-tab .personal-info-box .info-3 .info-text {
  font-size: 16px;
  font-weight: 600;
  color: #009F80;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 550px) {
  .aside-profile-tab .personal-info-box .info-1 .info-text, .aside-profile-tab .personal-info-box .info-2 .info-text, .aside-profile-tab .personal-info-box .info-3 .info-text {
    font-size: 14px;
    margin-right: 7px;
  }
}
.aside-profile-tab .personal-info-box .info-1 .info-value, .aside-profile-tab .personal-info-box .info-2 .info-value, .aside-profile-tab .personal-info-box .info-3 .info-value {
  font-size: 16px;
  font-weight: 600;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 550px) {
  .aside-profile-tab .personal-info-box .info-1 .info-value, .aside-profile-tab .personal-info-box .info-2 .info-value, .aside-profile-tab .personal-info-box .info-3 .info-value {
    font-size: 14px;
  }
}
.aside-profile-tab .personal-info-box .hr {
  width: 100%;
  border-bottom: 1px solid #9A9A9A;
  margin-top: 40px;
}
.aside-profile-tab .button-settings {
  width: 80%;
  height: 60px;
  border: none;
  border-radius: 12px;
  background-color: #13B86D;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  text-align: center;
  transition: 1s;
  cursor: pointer;
}
.aside-profile-tab .button-settings:hover {
  background-color: #34c483;
  border-color: #34c483;
}
.aside-profile-tab .button-settings:focus {
  background-color: #34c483;
  border-color: #34c483;
  outline: none;
}

.content-container {
  width: 78%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media screen and (max-width: 1850px) {
  .content-container {
    width: 70%;
  }
}
@media screen and (max-width: 1200px) {
  .content-container {
    width: 65%;
  }
}
@media screen and (max-width: 991px) {
  .content-container {
    width: 55%;
  }
}
@media screen and (max-width: 800px) {
  .content-container {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .content-container {
    width: 100%;
  }
}
.content-container .mobile-my-account {
  width: fit-content;
  height: fit-content;
  display: none;
  justify-self: flex-start;
  align-self: flex-start;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .content-container .mobile-my-account {
    display: block;
  }
}
.content-container .mobile-my-account .my-account-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
}
.content-container .mobile-my-account .my-account-container .square {
  width: 90px;
  height: 60px;
  background-color: #F1F3F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  padding-left: 10px;
}
.content-container .mobile-my-account .my-account-container .square img {
  width: 25px;
  height: auto;
  margin-top: 10px;
}
.content-container .mobile-my-account .my-account-container .square span {
  font-size: 11px;
  font-weight: 600;
  color: black;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
.content-container .mobile-my-account .my-account-container .circle {
  width: 60px;
  height: 60px;
  border-radius: 70px;
  background-color: #F1F3F5;
  margin-left: 50px;
}
.content-container .section-title {
  width: 80%;
  font-size: 22px;
  font-weight: 600;
  color: #9A9A9A;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 991px) {
  .content-container .section-title {
    width: 90%;
    font-size: 16px;
  }
}
.content-container .section-devider {
  width: 80%;
  border-bottom: 2px solid #9A9A9A;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .content-container .section-devider {
    width: 90%;
  }
}
.content-container .secondary-name {
  width: 80%;
  font-size: 20px;
  font-weight: 600;
  color: #009F80;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 991px) {
  .content-container .secondary-name {
    width: 90%;
    font-size: 14px;
  }
}
.content-container .date-of-verification {
  width: 80%;
  font-size: 18px;
  font-weight: 600;
  color: #009F80;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 991px) {
  .content-container .date-of-verification {
    width: 90%;
    font-size: 12px;
  }
}

.credit-cards-section {
  width: 100%;
  height: 30vh;
  background-image: url("../../assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
@media screen and (max-width: 991px) {
  .credit-cards-section {
    display: none;
  }
}
.credit-cards-section .credit-cards-row {
  width: 85%;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 1100px) {
  .credit-cards-section .credit-cards-row {
    width: 95%;
  }
}
.credit-cards-section .credit-cards1 {
  width: 22%;
  height: auto;
}
.credit-cards-section .credit-cards1 img {
  width: 100%;
  height: auto;
}
.credit-cards-section .credit-cards2 {
  width: 22%;
  height: auto;
}
.credit-cards-section .credit-cards2 img {
  width: 100%;
  height: auto;
}
.credit-cards-section .credit-cards3 {
  width: 22%;
  height: auto;
}
.credit-cards-section .credit-cards3 img {
  width: 100%;
  height: auto;
}
.credit-cards-section .credit-cards4 {
  width: 22%;
  height: auto;
}
.credit-cards-section .credit-cards4 img {
  width: 100%;
  height: auto;
}

.carousel-cards-mobile {
  width: 100%;
  height: 30vh;
  display: none;
  background-image: url("../../assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 30px;
}
@media screen and (max-width: 450px) {
  .carousel-cards-mobile {
    height: 25vh;
  }
}
@media screen and (max-width: 991px) {
  .carousel-cards-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.carousel-cards-mobile .carousel {
  width: 70%;
}
@media screen and (min-width: 550px) and (max-width: 768px) {
  .carousel-cards-mobile .carousel {
    width: 50%;
  }
}
.carousel-cards-mobile .carousel .carousel-item {
  width: 100%;
}
.carousel-cards-mobile .carousel .carousel-item img {
  width: 100%;
  height: 80%;
}

.payment-section {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .payment-section {
    width: 90%;
  }
}
.payment-section .section-title {
  width: 80%;
  font-size: 22px;
  font-weight: 600;
  color: #9A9A9A;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 991px) {
  .payment-section .section-title {
    width: 90%;
    font-size: 16px;
  }
}
.payment-section .section-devider {
  width: 100%;
  border-bottom: 2px solid #9A9A9A;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .payment-section .section-devider {
    width: 100%;
  }
}
.payment-section .secondary-title {
  width: 80%;
  font-size: 20px;
  font-weight: 600;
  color: #009F80;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 991px) {
  .payment-section .secondary-title {
    width: 90%;
    font-size: 14px;
  }
}
.payment-section .secondary-title span {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin-left: 20px;
}
.payment-section .btn-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
@media screen and (max-width: 991px) {
  .payment-section .btn-wrapper {
    margin-top: 20px;
  }
}
.payment-section .btn-wrapper .btn-secondary-outline {
  width: 20%;
  height: 60px;
  border-radius: 13px;
  background-color: transparent;
  border: 2px solid #13B86D;
  transition: 1s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .payment-section .btn-wrapper .btn-secondary-outline {
    width: 45%;
    margin-bottom: 20px;
    height: 50px;
    border: 2px solid #13B86D;
  }
}
.payment-section .btn-wrapper .btn-secondary-outline .payme {
  height: 20px;
}
.payment-section .btn-wrapper .btn-secondary-outline img {
  height: 25px;
  width: auto;
}
.payment-section .btn-wrapper .btn-secondary-outline span {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 5px;
}
.payment-section .btn-wrapper .btn-secondary-outline:hover {
  background-color: #13B86D;
}
.payment-section .btn-wrapper .btn-secondary-outline:focus {
  outline: none;
}
.payment-section .btn-primary-outline {
  width: 50%;
  height: 65px;
  border-radius: 13px;
  border: 2px solid #13B86D;
  background-color: transparent;
  cursor: pointer;
  transition: 1s;
  font-size: 18px;
  color: #13B86D;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.payment-section .btn-primary-outline:hover {
  color: white;
  background-color: #13B86D;
}
.payment-section .btn-primary-outline:focus {
  outline: none;
}
@media screen and (max-width: 991px) {
  .payment-section .btn-primary-outline {
    width: 60%;
    height: 55px;
    margin-top: 10px;
    font-size: 16px;
    border: 2px solid #13B86D;
  }
}
@media screen and (max-width: 550px) {
  .payment-section .btn-primary-outline {
    margin-bottom: 20px;
  }
}

.settings-page-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.settings-page-container .settings-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.settings-page-container .settings-section .section-title {
  width: 90%;
  font-size: 22px;
  font-weight: 600;
  color: #9A9A9A;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 991px) {
  .settings-page-container .settings-section .section-title {
    width: 90%;
    font-size: 16px;
  }
}
.settings-page-container .settings-section .section-devider {
  width: 90%;
  border-bottom: 2px solid #9A9A9A;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .settings-page-container .settings-section .section-devider {
    width: 90%;
  }
}
.settings-page-container .settings-section .settings-page-row1 {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.settings-page-container .settings-section .input-container-settings-page {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .settings-page-container .settings-section .input-container-settings-page {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .settings-page-container .settings-section .input-container-settings-page {
    width: 48%;
  }
}
.settings-page-container .settings-section .input-container-settings-page span {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
@media screen and (max-width: 550px) {
  .settings-page-container .settings-section .input-container-settings-page span {
    font-size: 14px;
  }
}
.settings-page-container .settings-section .input-container-settings-page .tel-input-row-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
}
.settings-page-container .settings-section .input-container-settings-page .tel-input-row-container .mask {
  width: 100px;
  height: 55px;
  background-color: #13B86D;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 550px) {
  .settings-page-container .settings-section .input-container-settings-page .tel-input-row-container .mask {
    width: 80px;
    height: 50px;
    font-size: 14px;
  }
}
.settings-page-container .settings-section .input-container2-settings-page {
  width: 40%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .settings-page-container .settings-section .input-container2-settings-page {
    width: 100%;
  }
}
.settings-page-container .settings-section .input-container2-settings-page span {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
@media screen and (max-width: 550px) {
  .settings-page-container .settings-section .input-container2-settings-page span {
    font-size: 14px;
  }
}
.settings-page-container .settings-section .input-filled-settings-page {
  width: 100%;
  height: 55px;
  background-color: #13B86D;
  color: white;
  border-radius: 0;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 550px) {
  .settings-page-container .settings-section .input-filled-settings-page {
    font-size: 14px;
    height: 50px;
  }
}
.settings-page-container .settings-section .input-outline-settings-page {
  width: 100%;
  height: 55px;
  border: 2px solid #13B86D;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  transition: 1s;
  background-color: white;
}
@media screen and (max-width: 550px) {
  .settings-page-container .settings-section .input-outline-settings-page {
    height: 50px;
  }
}
.settings-page-container .settings-section .input-outline-settings-page:hover {
  border-color: #009F80;
}
.settings-page-container .settings-section .input-outline-settings-page:hover::placeholder {
  color: #009F80;
}
.settings-page-container .settings-section .input-outline-settings-page:focus {
  outline: none;
  border-radius: none;
}
.settings-page-container .settings-section .input-outline-settings-page::placeholder {
  font-size: 18px;
  font-weight: 600;
  color: #13B86D;
}
@media screen and (max-width: 550px) {
  .settings-page-container .settings-section .input-outline-settings-page::placeholder {
    font-size: 14px;
  }
}
.settings-page-container .settings-section .input-outline-settings-page option {
  font-size: 18px;
  font-weight: 400;
  color: #13B86D;
}
.settings-page-container .settings-section select {
  text-indent: 20px;
  color: #13B86D;
}
.settings-page-container .settings-section .input-outline-tel-settings-page {
  width: 100%;
  height: 55px;
  border: 2px solid #13B86D;
  border-radius: 0;
  cursor: pointer;
  transition: 1s;
  background-color: white;
  text-indent: 20px;
}
@media screen and (max-width: 550px) {
  .settings-page-container .settings-section .input-outline-tel-settings-page {
    height: 50px;
    text-indent: 6px;
  }
}
.settings-page-container .settings-section .input-outline-tel-settings-page:hover {
  border-color: #009F80;
}
.settings-page-container .settings-section .input-outline-tel-settings-page:hover::placeholder {
  color: #009F80;
}
.settings-page-container .settings-section .input-outline-tel-settings-page:focus {
  outline: none;
  border-radius: none;
}
.settings-page-container .settings-section .input-outline-tel-settings-page::placeholder {
  font-size: 18px;
  font-weight: 600;
  color: #13B86D;
}
@media screen and (max-width: 550px) {
  .settings-page-container .settings-section .input-outline-tel-settings-page::placeholder {
    font-size: 14px;
  }
}
.settings-page-container .settings-section .input-outline-tel-settings-page option {
  font-size: 18px;
  font-weight: 400;
  color: #13B86D;
}

/*# sourceMappingURL=main.css.map */
