body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container-row {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

//ASIDE PROFILE TAB
.aside-profile-tab {
  width: 22%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #F1F3F5;
  transition: all 500ms linear;
  z-index: 888;
  @media screen and (max-width: 1850px) {
    width: 30%;
  }
  @media screen and (max-width: 1200px) {
    width: 35%;
  }
  @media screen and (max-width: 991px) {
    width: 45%;
  }
  @media screen and (max-width: 800px) {
    width: 55%;
  }
  @media screen and (max-width: 768px) {
    width: 55%;
    position: absolute;
    display: none; // test
  }
  @media screen and (max-width: 550px) {
    width: 75%;
  }
  @media screen and (max-width: 450px) {
    width: 93%;
  }
  .icon-close {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: -60px;
    img {
      width: 20px;
      height: auto;
      cursor: pointer;
      margin-right: 20px;
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
  }
  .name {
    font-size: 30px;
    font-weight: 600;
    color: #009F80;
    font-family: Arial, Helvetica, sans-serif;
  }
  .limit-verification-container {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    span {
      font-size: 17px;
      font-weight: 600;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 10px;
    }
    .limit-box {
      width: 100%;
      height: 55px;
      border-radius: 13px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      .limit-text {
        font-size: 16px;
        font-weight: 600;
        color: red;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
  .personal-info-box {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      span {
        color: #9A9A9A;
        font-size: 16px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        @media screen and (max-width: 550px) {
          font-size: 15px;
        }
      }
      hr {
        width: 50%;
        color: #9A9A9A;
        @media screen and (max-width: 550px) {
          width: 40%;
        }
      }
    }
    .info-1, .info-2, .info-3 {
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      .dot {
        width: 6px;
        height: 6px;
        background-color: transparent;
        border-radius: 6px;
        border: 3px solid #009F80;
        margin-right: 10px;
      }
      .info-text {
        font-size: 16px;
        font-weight: 600;
        color: #009F80;
        margin-right: 10px;
        font-family: Arial, Helvetica, sans-serif;
        @media screen and (max-width: 550px) {
          font-size: 14px;
          margin-right: 7px;
        }
      }
      .info-value {
        font-size: 16px;
        font-weight: 600;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        @media screen and (max-width: 550px) {
          font-size: 14px;
        }
      }
    }
    .hr {
      width: 100%;
      border-bottom: 1px solid #9A9A9A;
      margin-top: 40px;
    }
  }
  .button-settings {
    width: 80%;
    height: 60px;
    border: none;
    border-radius: 12px;
    background-color: #13B86D;
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    text-align: center;
    transition: 1s;
    cursor: pointer;
    &:hover {
      background-color: #34c483;
      border-color: #34c483;
    }
    &:focus {
      background-color: #34c483;
      border-color: #34c483;
      outline: none;
    }
  }
}


// Content Continer of the page
.content-container {
  width: 78%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  @media screen and (max-width: 1850px) {
    width: 70%;
  }
  @media screen and (max-width: 1200px) {
    width: 65%;
  }
  @media screen and (max-width: 991px) {
    width: 55%;
  }
  @media screen and (max-width: 800px) {
    width: 45%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  // my account toggle btn mobile
  .mobile-my-account {
    width: fit-content;
    height: fit-content;
    display: none;
    margin-bottom: 30px;
    margin-right: auto;
    @media screen and (max-width: 768px) {
      display: block;
    }
    .my-account-container {
      width: 130px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url('../../assets/icons/MyAccountBtn.png');
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      margin-left: -10px;
      img {
        margin-top: 10px;
        width: 25px;
        height: auto;
      }
      h1 {
        font-size: 13px;
        font-weight: 700;
        color: #009F80;
        margin-top: 10px;
      }
    }
  }
  // section title
  .section-title {
    width: 80%;
    font-size: 22px;
    font-weight: 600;
    color: #9A9A9A;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media screen and (max-width: 991px) {
      width: 90%;
      font-size: 16px;
    }
  }
  // HR devider
  .section-devider {
    width: 80%;
    border-bottom: 2px solid #9A9A9A;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      width: 90%;
    }
  }
  .secondary-name {
    width: 80%;
    font-size: 20px;
    font-weight: 600;
    color: #009F80;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media screen and (max-width: 991px) {
      width: 90%;
      font-size: 14px;
    }
  }
  .date-of-verification {
    width: 80%;
    font-size: 18px;
    font-weight: 600;
    color: #009F80;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media screen and (max-width: 991px) {
      width: 90%;
      font-size: 12px;
    }
  }
}

// CREDIT CARDS SECTION
.credit-cards-section {
  width: 100%;
  height: 30vh;
  background-image: url('../../assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  @media screen and (max-width: 1100px) {
    height: 25vh;
  }
  @media screen and (max-width: 991px) {
    display: none;
  }

  .credit-cards-row {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    @media screen and (max-width: 1100px) {
      width: 95%;
    }
  }
  // Credit Cards
  .credit-cards1 {
    width: 318px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/images/cardsZmarket1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    .card-name {
      font-weight: 600;
      margin-left: 20px;
      margin-top: 20px;
      @media screen and (max-width: 1200px) {
        font-size: 12px;
      }
    }
    .card-amount {
      font-weight: 700;
      margin-top: auto;
      margin-bottom: 20px;
      margin-left: 30px;
      @media screen and (max-width: 1400px) {
        margin-bottom: 15px;
        margin-left: 20px;
      }
      @media screen and (max-width: 1200px) {
        font-size: 12px;
      }
    }
    @media screen and (max-width: 1400px) {
      width: 290px;
      height: 160px;
    }
    @media screen and (max-width: 1200px) {
      height: 140px;
    }
    @media screen and (max-width: 1200px) {
      height: 120px;
    }
  }
  .credit-cards2 {
    width: 318px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/images/cardsZmarket2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    .card-name {
      font-weight: 600;
      margin-left: 20px;
      margin-top: 20px;
      @media screen and (max-width: 1200px) {
        font-size: 12px;
      }
    }
    .card-amount {
      font-weight: 700;
      margin-top: auto;
      margin-bottom: 20px;
      margin-left: 30px;
      @media screen and (max-width: 1400px) {
        margin-bottom: 15px;
        margin-left: 20px;
      }
      @media screen and (max-width: 1200px) {
        font-size: 12px;
      }
    }
    @media screen and (max-width: 1400px) {
      width: 290px;
      height: 160px;
    }
    @media screen and (max-width: 1200px) {
      height: 140px;
    }
    @media screen and (max-width: 1200px) {
      height: 120px;
    }
  }
  .credit-cards3 {
    width: 318px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/images/cardsZmarket3.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    .card-name {
      font-weight: 600;
      margin-left: 20px;
      margin-top: 20px;
      @media screen and (max-width: 1200px) {
        font-size: 12px;
      }
    }
    .card-amount {
      font-weight: 700;
      margin-top: auto;
      margin-bottom: 20px;
      margin-left: 30px;
      @media screen and (max-width: 1400px) {
        margin-bottom: 15px;
        margin-left: 20px;
      }
      @media screen and (max-width: 1200px) {
        font-size: 12px;
      }
    }
    @media screen and (max-width: 1400px) {
      width: 290px;
      height: 160px;
    }
    @media screen and (max-width: 1200px) {
      height: 140px;
    }
    @media screen and (max-width: 1200px) {
      height: 120px;
    }
  }
  .credit-cards4 {
    width: 318px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/images/cardsZmarket4.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    .card-name {
      font-weight: 600;
      margin-left: 20px;
      margin-top: 20px;
      @media screen and (max-width: 1200px) {
        font-size: 12px;
      }
    }
    .card-amount {
      font-weight: 700;
      margin-top: auto;
      margin-bottom: 20px;
      margin-left: 30px;
      @media screen and (max-width: 1400px) {
        margin-bottom: 15px;
        margin-left: 20px;
      }
      @media screen and (max-width: 1200px) {
        font-size: 12px;
      }
    }
    @media screen and (max-width: 1400px) {
      width: 290px;
      height: 160px;
    }
    @media screen and (max-width: 1200px) {
      height: 140px;
    }
    @media screen and (max-width: 1200px) {
      height: 120px;
    }
  }
}


// Credit-Cards-Mobile
.carousel-cards-mobile {
  width: 100%;
  height: 30vh;
  display: none;
  background-image: url('../../assets/images/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 30px;
  @media screen and (max-width: 991px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel {
    width: 70%;
    @media screen and (min-width: 550px) and (max-width: 768px) {
      width: 50%;
    }
  .carousel-control-prev {
    margin-left: -30px;
  }
  .carousel-control-next {
    margin-right: -30px;
  }
    .carousel-item  {
      width: 100%;
      h4 {
        font-size: 18px;
        color: black;
        margin-top: 20px;
        margin-left: 30px;
        position: absolute;
        @media screen and (max-width: 550px) {
          font-size: 16px;
          margin-left: 20px;
        }
      }
      h5 {
        font-size: 18px;
        color: black;
        margin-top: -35px;
        margin-left: 30px;
        @media screen and (max-width: 550px) {
          font-size: 16px;
          margin-left: 20px;
        }
      }
      img {
        width: 100%;
        height: 80%;
      }
    }
  }
}

// PAYMENT SECTION 
.payment-section {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
  .section-title {
    width: 80%;
    font-size: 22px;
    font-weight: 600;
    color: #9A9A9A;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media screen and (max-width: 991px) {
      width: 90%;
      font-size: 16px;
    }

  }
  .section-devider {
    width: 100%;
    border-bottom: 2px solid #9A9A9A;
    margin-bottom: 20px;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }
  .secondary-title {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #009F80;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 991px) {
      width: 100%;
      font-size: 14px;
    }
    span {
      width: 50%;
      font-size: 14px;
      font-weight: 600;
      color: black;
      margin-left: 8px;
    }
  }
  
  .btn-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    @media screen and (max-width: 991px) {
      margin-top: 20px;
    }
    .btn-secondary-outline {
      width: 20%;
      height: 60px;
      border-radius: 13px;
      background-color: transparent;
      border: 2px solid  #13B86D;
      transition: 1s;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      @media screen and (max-width: 991px) {
        width: 45%;
        margin-bottom: 20px;
        height: 50px;
        border: 2px solid #13B86D;
      }
      .payme {
        height: 20px;
      }
      img {
        height: 25px;
        width: auto;
      }
      span {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin-left: 5px;    
      }
      &:hover {
        background-color: #13B86D;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .btn-primary-outline {
    width: 50%;
    height: 65px;
    border-radius: 13px;
    border: 2px solid #13B86D;
    background-color: transparent;
    cursor: pointer;
    transition: 1s;
    font-size: 18px;
    color: #13B86D;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    &:hover {
      color: white;
      background-color: #13B86D;
    }
    &:focus {
      outline: none;
    }
    @media screen and (max-width: 991px) {
      width: 60%;
      height: 55px;
      margin-top: 10px;
      font-size: 16px;
      border: 2px solid #13B86D;
    }
    @media screen and (max-width: 550px) {
      margin-bottom: 20px;
    }
  }
}


.alert-danger-user-cabinet-container {
  width: 90%;
  @media screen and (max-width: 550px) {
    strong {
      font-size: 15px;
    }
    font-size: 13px;
  }
}